### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 1. Análisis de facturación

In [6]:
ingreso_total_tienda = tienda['Precio'].sum()
ingreso_total_tienda2 = tienda2['Precio'].sum()
ingreso_total_tienda3 = tienda3['Precio'].sum()
ingreso_total_tienda4 = tienda4['Precio'].sum()

ingresos = [ingreso_total_tienda,ingreso_total_tienda2,ingreso_total_tienda3,ingreso_total_tienda4]

print('Ingresos de cada tienda')

for i in range(4):
    print(f'Ingreso de la tienda {i+1} : {ingresos[i]}')

Ingresos de cada tienda
Ingreso de la tienda 1 : 1150880400.0
Ingreso de la tienda 2 : 1116343500.0
Ingreso de la tienda 3 : 1098019600.0
Ingreso de la tienda 4 : 1038375700.0

# 2. Ventas por categoría

In [3]:
categorias_tienda = dict(tienda['Categoría del Producto'].value_counts().head(3))
categorias_tienda2 = dict(tienda2['Categoría del Producto'].value_counts().head(3))
categorias_tienda3 = dict(tienda3['Categoría del Producto'].value_counts().head(3))
categorias_tienda4 = dict(tienda4['Categoría del Producto'].value_counts().head(3))

categorias_total = [categorias_tienda,categorias_tienda2,categorias_tienda3,categorias_tienda4]

In [4]:
print('Categorías más populares de las tiendas:')
for i, tienda_categorias in enumerate(categorias_total, start=1):
    print(f'\nTienda {i}:')
    for categoria, cantidad in tienda_categorias.items():
        print(f'  {categoria}, cantidad vendida: {cantidad}')

Categorías más populares de las tiendas:

Tienda 1:
  Muebles, cantidad vendida: 465
  Electrónicos, cantidad vendida: 448
  Juguetes, cantidad vendida: 324

Tienda 2:
  Muebles, cantidad vendida: 442
  Electrónicos, cantidad vendida: 422
  Juguetes, cantidad vendida: 313

Tienda 3:
  Muebles, cantidad vendida: 499
  Electrónicos, cantidad vendida: 451
  Juguetes, cantidad vendida: 315

Tienda 4:
  Muebles, cantidad vendida: 480
  Electrónicos, cantidad vendida: 451
  Juguetes, cantidad vendida: 338

# 3. Calificación promedio de la tienda

In [10]:
calificaciones = [tienda['Calificación'].mean(),tienda2['Calificación'].mean(),tienda3['Calificación'].mean(),tienda4['Calificación'].mean()]

print('Valoracipon media de cada tienda')

for i in range(4):
    print(f'Valoración de la tienda {i+1} : {calificaciones[i]}')

Valoracipon media de cada tienda
Valoración de la tienda 1 : 3.976685036032217
Valoración de la tienda 2 : 4.037303942348453
Valoración de la tienda 3 : 4.048325561678677
Valoración de la tienda 4 : 3.9957591178965224

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda